.footer {
	margin-bottom: 70px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 769px) {
		justify-content: space-around;
	}

	@media screen and (max-width: 440px) {
		flex-flow: column;
	}
}

.footer__logo {
	font-size: 30px;
	line-height: 69px;
	font-family: "ScriptinaRegular";
	color: $color-title;
	margin: 0 10px;

	@media screen and (max-width: 440px) {
		margin: 0 0 15px 0;
	}
}

.footer__menu--list {
	display: flex;
	border-top: 1px solid rgb(194, 190, 186);
	border-bottom: 1px solid rgb(194, 190, 186);
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	padding: 27px 40px;
	
	@media screen and (max-width: 769px) {
		flex-flow: column;
		padding: 10px 20px;
	}
	
}

.footer__menu--item {
	position: relative;

	&:not(:last-child) {
		margin-right: 80px;

		@media screen and (max-width: 1024px) {
			margin-right: 40px;
		}

		@media screen and (max-width: 769px) {
			margin-right: 0;
		}
	}

	&:before {
		content: "\02dc";
		position: absolute;
		top: 6px;
		left: -38px;
		color: $color-title;

		@media screen and (max-width: 1024px) {
			left: -23px
		}

		@media screen and (max-width: 769px) {
			top: 14px;
		}

	}
	
	&:first-child {
		&:before {
			display: none;

			@media screen and (max-width: 769px) {
			display: block;
			}
		}
	}	
}

.footer__menu--link {
	font-family: "AlegreyaRegular";
	font-size: 14px;
	line-height: 16px;
	color: $color-title;
	text-transform: uppercase;
	display: inline-block;

	@media screen and (max-width: 769px) {
		padding: 10px 0;
	}
	
}
