// .header {
// 	position: absolute;
// 	top: 0;

.logo {

	@media screen and (max-width: 1024px) {
        margin-right: 20px;
    }
}



.nav--active {
    @media screen and (max-width: 1024px) {
        transform: translateX(0);
    }
}

.top-nav {
	position: relative;
	background-color: rgba(27, 127, 155, .6);
	width: 307px;
	margin: 0 -15px 26px 0;

	&:after {
		content: '';
		position: absolute;
		top: 5px;
		bottom: 0;
		right: 0;
		width: 15px;
		background: rgba(27, 127, 155, .6);
		transform: skew(-25deg) rotate(-25deg);
	}

}

.top-nav__list {
	padding: 10px 45px 6px 10px;
	display: flex;

	@media screen and (max-width: 950px) {
		display: none;
	}

}

.top-nav__item {
	
    &:not(:last-child) {
        padding-right:18px;
	
		.top-nav__link:after {
	    	content: "";
	    	position: absolute;
	    	right: 9px;
	    	bottom: 3px;
	    	width: 1px;
	    	height: 10px;
	    	background: #fff;
	    }

    }

}

.top-nav__item {
	position: relative;
}

.top-nav__link {
	display: flex;
	font-size: 13px;
	line-height: 15px;
	font-family: 'proxima_nova_rgregular';
	color: #fff;
	transition: color .2s ease-in-out;

	&:hover {
		color: $color-red;
	}

}

.top-nav__search-wrap {
	position: absolute;
	top: 8px;
	right: 20px;
}

.top-nav__search input {
	display: none;
}

.top-nav__search--inner {
	width: 0;
	border: none;
	outline: none;
}

.top-nav__search--icon {
	background-color: transparent;
	font-size: 13px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: color .2s ease-in-out;

	&:hover {
		color: $color-red;
	}
}

//------------------------------------ top nav and

.nav__list {
    margin: 0 17px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav__item {
	color: #668333;

    &:not(:last-child) {
        margin-right: 56px;

        @media screen and (max-width: 769px) {
    		margin-right: 0;
    	}
    }
}

.nav__link {
	font-family: 'proxima_nova_rgregular';
	font-size: 15px;
	text-transform: uppercase;
	color: #668333;
	transition: color .2s ease-in-out;

	&:hover {
		color: #4999af;
	}
}

.nav__link--active {
	color: #4999af;
}

// ------------------------------------------------Title section
.title-section {
	background-size: cover;
	padding: 250px 0 50px;
	background-image: url(../img/slider.jpg);
	background-repeat: no-repeat;
    height: 100%;
    background-position: bottom;

	h2 {
		font-size: 34px;
		font-family: 'proxima_nova_rgbold';
		text-transform: capitalize;
		background:rgba(27, 127, 155, 0.8);
		padding: 15px 15px 10px 15px;
		color: #fff;
		display: inline-block;
		min-width: 320px;

		@media screen and (max-width: 769px) {
			min-width: 250px;
		}
	}
}
// --------------------------------------------------------
header {
	background: transparent;
	position: absolute;
	top: 0;
	z-index: 3;
	width: 100%;
}

.navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
    background-color: #fff;
}
/*menu*/
nav.menu {
	text-align: right;
}

nav.menu ul{
	display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.menu li a:hover::after, nav.menu li a.active::after {
	width: 100%;
}

/*Mobile menu*/
@media screen and (max-width: 769px) {
	.mobile-btn {
	    color: #ccc;
	    display: block;
	    width: 25px;
	    height: 25px;
	    border-top: 4px solid;
	    float: right;
	    position: relative;
	    cursor: pointer;
	    -webkit-backface-visibility: hidden;
	 }

	.mobile-btn::before, .mobile-btn::after {
	    content: '';
	    display: block;
	    height: 4px;
	    margin-top: 4px;
	    background: currentColor;
	    position: relative;
	    transition: transform .2s ease;
	}

	.mobile-btn.active {
	    border-top-color: transparent;
	}

	.mobile-btn.active::before {
	    margin-top: 0px;
	    top: 6px;
	    transform: rotate(135deg);
	}

	.mobile-btn.active::after {
	    margin-top: 0px;
	    top: 2px;
	    transform: rotate(45deg);
	}

	nav.mobile-menu {
		background-color: #fff;
	    padding: 15px;
	    width: 60%;
	    height: 100vh;
	    text-align: left;
	    position: absolute;
	    top: 88px;
	    right: 0;
	    display: none;
	    transform: translate3d(429px, 0px, 0px);
	    transition: .3s;
	    z-index: 1;
	}

	nav.mobile-menu.active {
		display: block;
		transform: translate3d(0px, 0px, 0px);
	}

	nav.menu ul {
	    display: flex;
	    flex-direction: column;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	}

	nav.mobile-menu li {
		display: block;
		padding: 5px;
		border-bottom: 1px solid;
	}

	nav.menu li a:hover::after, nav.menu li a.active::after {
		width: 0%;
	}

	.bg-black {
		display: none;
		background: #000;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0px;
		opacity: 0;
		z-index: 0;
	}

	.bg-black.active {
		display: block;
		opacity: 0.6;
		z-index: 2;
		height: 1000px;
	}

}