$color-title: #56534c;
$color-subtitle: #a47d5e;
$white: #fff;
$gray: #525252;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}