$color-title: #4999af;
$color-subtitle: #f1715e;
$white: #fff;
$gray: #525252;
$green: #668333;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}