.preview {
	display: flex;
	justify-content: space-between;
	padding: 22px 0 0 0;
	flex-flow: row wrap;
	position: relative;
	
	@media screen and (max-width: 1024px) {
		justify-content: space-around;
	}
}

.preview__item {
	position: relative;
	width: 320px;

	@media screen and (max-width: 1024px) {
		margin-bottom: 20px;
	}
}

.preview__item .preview__link {
	background-color: rgba(102,131,51,.8);
}

.preview__item:first-child .preview__link {
	background-color: rgba(27,127,155,.8);
}

.preview__item:last-child .preview__link {
	background-color: rgba(241,113,94,.8);
}

.review__item--img {
	position: relative;
}

.preview__caption {
	position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.preview__title {
	font-size: 45px;
	line-height: 49px;
	font-family: 'proxima_novasemibold';
	color: $white;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
	padding-bottom: 17px;
	padding-right: 16px;
	margin: 0;
 }

.preview__link {
	position: relative;
	color: $white;
	font-size: 16px;
	padding: 13px 45px 13px 20px;
	display: block;
}

.preview__link-icon {
	position: absolute;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
}
